{block content}

<div class="row">
    <div class="panel">
        <h2 class="panel-title">
            phpMyAdmin
        </h2>
        <div class="panel-content">
            {ifset $pmaError}
                <div class="alert-box alert">{$pmaError}</div>
            {/ifset}
            <div class="row">
                <div class="small-12 medium-6 columns">
                    {control phpmyadminForm}
                </div>
                <div class="small-12 medium-6 columns">
                    <h2 class="text-right">phpMyAdmin</h2>
                    <h3 class="text-right">na nieco</h3>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}