{if $paginator->getPageCount()>1}
    <ul class="pagination">
        {if !$paginator->first}
            <li class="arrow"><a n:href="this page => $paginator->page-1">&laquo;</a></li>
            {/if}

        {for $i=$paginator->getBase(); $i<=$paginator->getPageCount(); $i++}
            <li class="{if $paginator->page == $i}current{/if}"><a n:href="this page => $i">{$i}</a></li>
            {/for}

        {if !$paginator->last}
            <li class="arrow"><a n:href="this page => $paginator->page+1">&raquo;</a></li>
            {/if}
    </ul>
{/if}