/**
 * Custom variables
 * ----------------------------------------------------------------------------
 */
 $x-spaces-size: 10px;
 $x-border-radius: 5px;
 
 $x-font-regular:  Helvetica, Arial, sans-serif;