{block content}

<div class="row">

    {if $pages}
        
        <ul class="resizableBoxes small-block-grid-1 medium-block-grid-2 large-block-grid-3">

            {foreach $pages as $page}
                <li>
                    <div data-page-id="{$page->id}" class="panel">
                        <h2 class="panel-title"><a n:href="Homepage:show $page->slug">{$page->title}</a></h2>
                        <div class="panel-content">
                            <div class="excerpt">
                                {$page->excerpt|noescape}
                                <div>
                                    <a n:href="Homepage:show $page->id">Čítať ďalej</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {/foreach}

        </ul>

    {else}

        <h3 class="text-center">Nenašli sa žiadne články.</h3>
        
    {/if}

    <div class="panel pagination-panel">
        {include ../components/paginator.latte}
    </div>

</div>

{/block}