{block content}

<div class="row">
    <div class="panel">
        <h2 n:block=title class="panel-title">
            Registracia
        </h2>
        <div class="panel-content">
            {control signUpForm}
        </div>
    </div>
</div>

{/block}