{block content}

<div class="row">
    <div class="panel">
        <h2 class="panel-title">
            Pristup zamietnuty.
        </h2>
        <div class="panel-content">
            Nemate pravo na pristup k tejto stranke.
        </div>
    </div>
</div>

{/block}