{if $permissionDenyed}
    {include 403.latte}
{else}
    {block content}

    <div class="row">
        <div class="panel">
            {form tagSelectForm}
            {$form->render('errors')}
            <div class="panel-content row">
                <div class="small-12 medium-2 columns text-center">
                    Filter:
                </div>
                <div class="small-12 medium-8 columns">
                    {input tag}
                </div>
                <div class="small-12 medium-2 columns text-center">
                    {input send}
                </div>
            </div>
            {/form}
            </div>

            <div class="panel">
                <div class="panel-content">

                    <table>
                        <tr>
                            <th>#</th><th>Názov</th><th>Zmazanie</th>
                        </tr>

                        {foreach $pages as $page}
                            <tr>
                                <td>{$page->id}</td><td><a n:href="edit $page->id">{$page->title}</a></td><td><a n:href="delete $page->id">X</a></td>
                            </tr>
                        {/foreach}
                    </table>

                    <a n:href="add" class="button">Nový clanok</a>
                </div>
            </div>

            <div class="panel pagination-panel">
                {include ../components/paginator.latte}
            </div>
        </div>

        {/block}
        {/if}