{if $permissionDenyed}
    {include 403.latte}
{else}
    {block content}

    <div class="row">
        <div class="panel">
            <h2 class="panel-title">
                Úprava stránky:
            </h2>
            <div class="panel-content">

                {control pageForm}

            </div>
        </div>
    </div>

    {/block}
    
    {block scripts}
    {include parent}
    <script type="text/javascript" src="{$basePath}/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: ".mceEditor",
            plugins: 'advlist autolink link image lists table code fullscreen',
            toolbar1: "undo redo | styleselect | removeformat bold italic | link image | code table | fullscreen",
            entity_encoding: 'raw',
            menubar: false,
            content_css: {$basePath} + '/css/screen.css',
            body_id: 'content',
            body_class: 'panel panel-content'
        });
    </script>
    {/block}
{/if}