{if $permissionDenyed}
    {include 403.latte}
{else}
    {block content}

    <div class="row">
        <div class="panel">
            <h2 class="panel-title">
                Používateľ
            </h2>
            <div class="panel-content">

                {control userForm}

            </div>
        </div>
    </div>

    {/block}
{/if}