{if $permissionDenyed}
    {include 403.latte}
{else}
    {block content}

    <div class="row">
        <div class="panel">
            <div class="panel-content">

                <table>
                    <tr>
                        <th>#</th><th>Meno</th><th>Rola</th><th>Zmazanie</th>
                    </tr>

                    {foreach $users as $user}
                        <tr>
                            <td>{$user->id}</td>
                            <td><a n:href="Admin:usersEdit $user->id">{$user->username}</a></td>
                            {var $roles = \App\Rpj\Role::rolesForFormSelect()}
                            <td>{$roles[$user->role]}</td>
                            <td><a n:href="Admin:usersDelete $user->id">X</a></td>
                        </tr>
                    {/foreach}
                </table>
                
            </div>
        </div>

        <div class="panel pagination-panel">
            {include ../components/paginator.latte}
        </div>
    </div>

    {/block}
{/if}