<system>
    <pages>
        {foreach $pages as $page}
            <page>
                <id>{$page->id|noescape}</id>
                <title>{$page->title|noescape}</title>
                <content>{$page->content|noescape}</content>
                <excerpt>{$page->excerpt|noescape}</excerpt>
                <order>{$page->order|noescape}</order>
            </page>
        {/foreach}
    </pages>
    <tags>
        {foreach $tags as $tag}
            <tag>
                <id>{$tag->id|noescape}</id>
                <name>{$tag->tag|noescape}</name>
            </tag>
        {/foreach}
    </tags>
    <pageTags>
        {foreach $pageTags as $tag}
            <tag>
                <pageId>{$tag->page_id|noescape}</pageId>
                <tagId>{$tag->tag_id|noescape}</tagId>
            </tag>
        {/foreach}
    </pageTags>
</system>