{block content}

<div class="row">
    <div class="panel">
        <h2 class="panel-title">
            {$page->title}
        </h2>
        <div class="panel-content">
            {$page->content|noescape}
            <div class="page-tags">
                {$tags|noescape}
            </div>
        </div>
    </div>
</div>

{/block}