/**
 * Table of Contents for FoundationPress:
 *
 * 1.0 - Custom settings
 * 2.0 - Typography
 * 3.0 - Header, sidebar and footer
 * 4.0 - Content
 *	4.1 - Pages
 *	4.2 - Posts
 *	4.3	- Widgets
 *	4.4 - Comments
  *	4.5 - Lists
  * 4.6 - Forms
 * 5.0 - Plugins

 * ----------------------------------------------------------------------------
 */

/**
 * 1.0 Custom settings
 * ----------------------------------------------------------------------------
 */

button, .button {
	@include gradient(lighten($primary-color, 24%), lighten($primary-color, 16%));
	border-radius: $x-border-radius;
	color: white;
	text-transform: uppercase;
	margin-bottom: 0.4em;
	
	&:hover, &:focus {
		@include gradient(lighten($primary-color, 16%), lighten($primary-color, 24%));
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) inset;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	}
}

table {
	width: 100%;
}

code {
	display: block;
	overflow: auto;
	margin-bottom: rem-calc(16);
}

.alert-box {
	padding: $alert-padding-top;
	margin-bottom: 0;
}

.accordion {
	padding: $x-border-radius;
	
	dd.accordion-navigation {
		position: relative;
		margin-bottom: $x-border-radius !important;
	
		> a {
			border: 1px solid darken(desaturate($primary-color, 10%), 14%);
			font-weight: bolder;
			background: $accordion-navigation-hover-bg-color;
		}
		
		.content {
			border: 1px solid #D8D8D8;
			border-top: none;
		}
		
		:after {
			background: url('../images/faq_arrow.png');
			width: 37px;
			height: 37px;
			display: inline-block;
			
			content: " ";
			position: absolute;
			top: 6px;
			right: 6px;
		}
		
		.content.active:after {
			@include rotate(180deg);
		}
	}
}

/**
 * 2.0 Typography
 * ----------------------------------------------------------------------------
 */
 
/**
 * 3.0 Header, sidebar and footer
 * ----------------------------------------------------------------------------
 */

#footer {
	@include auto-gradient(desaturate(darken($primary-color, 36%), 86%), 12%);
	padding-top: rem-calc(16);
	
	label {
		color: white;
	}
	
	input[type="text"], input[type="password"], .button {
		background: rgba(200, 200, 200, 0.2);
		border-radius: $global-radius;
		padding: 0.6em;
		color: white;
	}
}

/**
 * 4.0 Content
 * ----------------------------------------------------------------------------
 */
 
#content {
	background: lighten($primary-color, 38%);
	padding-top: rem-calc(16);
	padding-bottom: rem-calc(64);
	
	.panel {
		background: lighten(lighten($primary-color, 38%), 8%);
		border-radius: $global-radius;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
		padding: 0;
		
		.panel-title {
			height: 52px;
			line-height: 42px;
			vertical-align: middle;
			font-size: 1em;
			font-weight: lighter;
			padding: 0 0.5em;
			text-align: center;
			color: white;
			border: $x-border-radius solid lighten(lighten($primary-color, 38%), 8%);
			
			border-top-left-radius: $global-radius;
			border-top-right-radius: $global-radius;
			
			@include gradient(lighten($primary-color, 24%), lighten($primary-color, 16%));
			
			&.bold {
				font-weight: normal;
				color: #4C4C4C;
			}
			
			a {
				color: white;
				
				&:hover {
					color: $primary-color;
				}
			}
		}
		
		.panel-content {
			padding: $panel-padding/2 $panel-padding;
		}
		
		&.pagination-panel {
			@include clearfix;
			
			text-align: center;
			margin-top: rem-calc(32);
			
			.pagination {
				margin: rem-calc(12);
				display: inline-block;
			}
		}
	}
	
	h2.fancy, h3.fancy {
		font-family: 'Lobster', $x-font-regular;
		color: darken(lighten($primary-color, 38%), 12%);;
	}
	
	.error {
		background: none;
		color: #ff4500;
	}
	
	.tags {
		margin-top: rem-calc(32);
	}
	
	.resizableBoxes {
		li {
			overflow: visible;
			
			.panel {
				min-height: 200px;	
				position: relative;
				
				.panel-content {
					overflow: auto;
				}
				
				&.boxResized {
					width: 200%;
					min-height: 300px;
					
					&.on-column-left {
						margin-left: 0;
					}
					
					&.on-column-center {
						margin-left: -50%;
					}
					
					&.on-column-right {
						margin-left: -100%;
					}
				}
			}
		}
	}
}