<div id="footer">
    <div class="row">
        <div class="small-12 medium-4 columns">
            <div class="footer-area">
                <ul class="no-bullet">
                    <li><a n:href="Homepage:">Hlavná stránka</a></li>
                    <li><a n:href="SQL:">SQL</a> | <a n:href="PHP:">PHP</a></li>
                    <li><a n:href="Homepage:random">Náhodná stránka</a></li>
                </ul>
            </div>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="footer-area">
                <ul class="no-bullet">
                    <li>&copy; Dominik Gmiterko 2014</li>
					<li><a href="http://ienze.me/">ienze.me</a></li>
                    <li>Spš BJ</li>
                </ul>
            </div>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="footer-area">
            {if $user->loggedIn}
                <ul class="no-bullet">
                    <li>Prihlásený ako {$user->getIdentity()->username}</li>
                    <li><a n:href="Admin:">Upraviť články</a></li>
                    {ifCurrent Homepage:show}<li><a n:href="Admin:edit $page->id">Upraviť aktuálny článok</a></li>{/ifCurrent}
                    <li><a n:href="Admin:settings">Nastavenia</a></li>
                    <li><a n:href="Admin:users">Použivátelia</a></li>
                    <li><a n:href="Sign:out">Odhlásiť</a></li>
                </ul>
            {else}
            {form signInForm}
                {$form->render('errors')}
                <div>
                    {label username}{/label} 
                    {input username}
                </div>
                <div>
                    {label password}{/label}
                    {input password}
                </div>
                <div class="text-center">
                    {input send}
                </div>
            {/form}
            {/if}
            </div>
        </div>
    </div>
</div>