{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
*}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>{if isset($title) && $title}{$title|striptags} | {/if}{$settings->titulok}</title>

        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
        <link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
        <script src="{$basePath}/js/modernizr.js"></script>

        <meta name="author" content="Dominik Gmiterko">
        <link type="text/plain" rel="author" href="{$basePath}/humans.txt" />
        <meta name="description" content="{if isset($description) && $description}{$description}{else}{$settings->description}{/if}">
        <meta name="keywords" content="{if isset($keywords) && $keywords}{$keywords}{else}{$settings->keywords}{/if}">

        {block head}{/block}
    </head>

    <body>

        <div n:foreach="$flashes as $flash" class="alert-box {$flash->type}">{$flash->message}<a href="#" class="close">&times;</a></div>

        <div id="header">
            {include @topbar.latte}
        </div>

        <div id="content">
            {include content}
        </div>

        {include @footer.latte}

        {block scripts}
        <script src="{$basePath}/js/jquery.min.js"></script>
        <script src="{$basePath}/js/foundation.min.js"></script>
        <script src="{$basePath}/js/jquery-ui.min.js"></script>
        <script src="{$basePath}/js/main.js"></script>
        <script src="{$basePath}/js/netteForms.js"></script>
        <script src="{$basePath}/js/boxResizer.js"></script>
        <script>
            $(function () {
                $('.resizableBoxes').boxResizer({
                    ajax_url: {$basePath}
                });
            });
        </script>
        {/block}
    </body>
</html>
