{ifset $adminArea}

    <nav class="top-bar" data-topbar role="navigation"> 
        <ul class="title-area"> 
            <li class="name"> 
                <h1><a n:href="Homepage:"><span class="logo">{$settings->titulok}</span></a></h1> 
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#"><span>Menu</span></a>
            </li> 
        </ul> 
        <section class="top-bar-section">
            <ul class="left"> 
                <li><a n:href="Admin:">Články</a></li>
                <li><a n:href="Admin:settings">Nastavenia</a></li>
                <li><a n:href="Admin:users">Použivátelia</a></li>
            </ul>
            <ul class="right">
                <li><a n:href="Admin:usersEdit userId=>$user->id">{$user->getIdentity()->username}</a></li>
                <li><a n:href="Sign:out">Odhlásiť</a></li>
            </ul> 
        </section> 
    </nav>

{else}

    <nav class="top-bar" data-topbar role="navigation"> 
        <ul class="title-area"> 
            <li class="name"> 
                <h1><a n:href="Homepage:"><span class="logo">{$settings->titulok}</span></a></h1> 
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#"><span>Menu</span></a>
            </li> 
        </ul> 
        <section class="top-bar-section">
            <ul class="left"> 
                <li><a n:href="Sql:">SQL</a></li>
                <li class="has-dropdown">
                    <a n:href="Php:">PHP</a>
                    <ul class="dropdown"> 
                        <li><a n:href="Php:priklady">Príklady</a></li>
                    </ul> 
                </li>
                <li><a n:href="Connection:">Prístup</a></li>
                {*
                <li class="has-dropdown"> 
                    <a n:href="Tools:">Nástroje</a> 
                    <ul class="dropdown"> 
                        <li><a n:href="Tools:phpMyAdmin">PhpMyAdmin</a></li>
                        <li><a n:href="Tools:links">Užitočné linky</a></li> 
                        <li><a n:href="Homepage:random">Náhodná stránka</a></li> 
                    </ul>
                </li>
                *}
            </ul>
            <ul class="right">
                <li class="has-form">
                    {form searchForm}
                        <div class="row collapse">
                            {$form->render('errors')}
                            <div class="large-8 small-9 columns">
                                {input search}
                            </div>
                            <div class="large-4 small-3 columns">
                                {input send}
                            </div>
                        </div>
                    {/form}
                </li>
            </ul>
        </section> 
    </nav>

{/ifset}