body {font:12pt/1.4 "Trebuchet MS","Geneva CE",lucida,sans-serif;color:black;background:none;width:100%;}img ,#footer ,.top-bar ,.excerpt div a ,.f-dropdown ,ul.pagination {display:none;}.resizableBoxes li {list-style:none;}.inline-list li {list-style:none;display:inline-block;margin-right:16px;}